{{- if and .Values.enable.istio .Values.oauth2Proxy.enabled }}
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: kubeflow-oauth2-proxy
  namespace: {{ .Values.namespaces.project }}
spec:
  interval: {{ .Values.kustomizations.intervals.default }}
  timeout: {{ .Values.kustomizations.timeouts.medium }}
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: kubeflow-manifests
  path: ./common/oauth2-proxy/overlays/{{ .Values.oauth2Proxy.overlay }}
  targetNamespace: {{ .Values.namespaces.oauth2proxy }}
  patchesJson6902:
    - target:
        group: security.istio.io
        version: v1beta1
        kind: AuthorizationPolicy
        name: istio-ingressgateway-oauth2-proxy
      patch:
        - op: replace
          path: /metadata/namespace
          value: {{ .Values.namespaces.istioSystem }}
    - target:
        group: security.istio.io
        version: v1beta1
        kind: AuthorizationPolicy
        name: istio-ingressgateway-require-jwt
      patch:
        - op: replace
          path: /metadata/namespace
          value: {{ .Values.namespaces.istioSystem }}
    - target:
        group: security.istio.io
        version: v1beta1
        kind: RequestAuthentication
        name: dex-jwt
      patch:
        - op: replace
          path: /metadata/namespace
          value: {{ .Values.namespaces.istioSystem }}
        - op: replace
          path: /spec/jwtRules/0/issuer
          value: {{ .Values.dex.issuerUrl }}
        {{- if .Values.dex.jwksUri }}
        - op: replace
          path: /spec/jwtRules/0/jwksUri
          value: {{ .Values.dex.jwksUri }}
        {{- end }}
    - target:
        version: v1
        kind: ConfigMap
        name: oauth2-proxy
      patch:
        - op: add
          path: /data/oauth2_proxy.cfg
          value: |
            provider = "oidc"
            oidc_issuer_url = "{{ .Values.dex.issuerUrl }}"
            scope = "profile email groups openid"
            email_domains = [ "*" ]
            cookie_domains = [ "{{ join "\", \"" .Values.oauth2Proxy.cookieDomains }}" ]
            whitelist_domains = [ "{{ join "\", \"" .Values.oauth2Proxy.whitelistDomains }}" ]

            # serve a static HTTP 200 upstream on for authentication success
            # we are using oauth2-proxy as an ExtAuthz to "check" each request, not pass it on
            upstreams = [ "static://200" ]

            # skip authentication for these paths
            skip_auth_routes = [
              "^/dex/",
            ]

            # requests to paths matching these regex patterns will receive a 401 Unauthorized response
            # when not authenticated, instead of being redirected to the login page with a 302,
            # this prevents background requests being redirected to the login page,
            # and the accumulation of CSRF cookies
            api_routes = [
              # Generic
              # NOTE: included because most background requests contain these paths
              "/api/",
              "/apis/",

              # Kubeflow Pipelines
              # NOTE: included because KFP UI makes MANY background requests to these paths but because they are
              #       not `application/json` requests, oauth2-proxy will redirect them to the login page
              "^/ml_metadata",
            ]

            # OIDC Discovery has to be skipped and login url has to be provided directly
            # in order to enable relative auth redirect. Using OIDC Discovery would set
            # the redirect location to http://dex.auth.svc.cluster.local:5556 in the example
            # installation. This address is usually not available through the Web Browser.
            # If you have a setup where dex has it's url as other than the in-cluster
            # service, this is optional.
            skip_oidc_discovery = true
            login_url = "/dex/auth"
            redeem_url = "http://dex.auth.svc.cluster.local:5556/dex/token"
            oidc_jwks_url = "http://dex.auth.svc.cluster.local:5556/dex/keys"

            # if `true`, skip the sign-in page and redirect directly to the provider (Dex)
            skip_provider_button = true

            # style the sign-in page
            provider_display_name = "{{ .Values.oauth2Proxy.providerDisplayName | default "Dex" }}"
            {{- if .Values.oauth2Proxy.customSignInLogo }}
            custom_sign_in_logo = "{{ .Values.oauth2Proxy.customSignInLogo }}"
            {{- else }}
            custom_sign_in_logo = "/custom-theme/kubeflow-logo.svg"
            {{- end }}
            banner = "-"
            footer = "-"

            # oauth2-proxy sends "force" by default, which causes dex to always prompt for login
            # https://github.com/dexidp/dex/pull/3086
            prompt = "none"

            # set Authorization Bearer response header. This is needed in order to
            # forward the Authorization Bearer token to Istio and enable authorization
            # based on JWT.
            set_authorization_header = true

            # set X-Auth-Request-User, X-Auth-Request-Groups, X-Auth-Request-Email and
            # X-Auth-Request-Preferred-Username. This is optional for Kubeflow but you
            # may have other services that use standard auth headers.
            set_xauthrequest = true

            cookie_name = "oauth2_proxy_kubeflow"

            # Dex default cookie expiration is 24h.
            # If set to 168h (default oauth2-proxy), Istio will not be able to use the JWT after 24h,
            # but oauth2-proxy will still consider the cookie valid.
            # It's possible to configure the JWT Refresh Token to enable longer login session.
            cookie_expire = "24h"
            cookie_refresh = 0

            code_challenge_method = "S256"

            redirect_url = "/oauth2/callback"
            relative_redirect_url = true

  dependsOn:
    - name: kubeflow-istio-install
    - name: kubeflow-cluster-local-gateway
    - name: kubeflow-dex
{{- end }}
