# Namespaces to be created
namespaces:
  project: unicc-aihub
  certManager: cert-manager
  istioSystem: istio-system
  knative: knative-serving
  kubeflow: kubeflow
  oauth2proxy: oauth2-proxy
  auth: auth

# Official kubeflow manifests repo and tag to use
kubeflow:
  manifestsRepo: https://github.com/kubeflow/manifests
  refTag: v1.10.1

# Enable or disable components
enable:
  certManager: true
  istio: true
  knative: true
  kserve: true
  dex: true
  centralDashboard: true
  pipelines: true
  notebooks: true
  profiles: true
  trainingOperator: true

oauth2Proxy:
  enabled: true
  # m2m-dex-only | m2m-dex-and-kind | m2m-dex-and-eks
  overlay: m2m-dex-only
  cookieDomains:
    - "example.com"
  whitelistDomains:
    - "example.com"
dex:
  logLevel: "debug"  # debug, info, warn, error
  skipApprovalScreen: true
  enablePasswordDB: true
  staticPasswords:
    - email: "user@example.com"
      hashFromEnv: "DEX_USER_PASSWORD"
      username: "user"
      userID: "15841185641784"
# Timings
kustomizations:
  intervals:
    default: 5m
  timeouts:
    short: 5m
    medium: 10m
    long: 15m
